@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>


<h3>Ejemplo de Botón en Blazor</h3>

<button @onclick="OnClick">ir</button>

@code {
    // Método que se ejecutará cuando se haga clic en el botón
    private void OnClick()
    {
        // Lógica que se ejecutará cuando se haga clic en el botón
        // Puedes agregar el código que desees aquí
        Console.WriteLine("¡Se hizo clic en el botón!");
    }
}

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
