@page "/"


<PageTitle>HOME</PageTitle>
<div style="width: 100%;">
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('FONDOHOMEDOBLEBYPABLO.jpg');
            background-size: cover; /* Para cubrir toda la pantalla */
            background-position: center top; /* Para centrar la imagen */
            background-attachment: fixed; /* Para que la imagen no se mueva al hacer scroll */
        }
    </style>
    <body>
        <!-- Aquí puedes colocar tu contenido HTML -->
    </body>
</div>