@page "/"
@using Dent.Models
@inject ServicioAutenticacion ServicioAutenticacion
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<h1>BIENVENIDOS A DENT</h1>

<h3>Iniciar Sesión</h3>

<EditForm Model="@usuario" OnValidSubmit="IniciarSesion">
    <DataAnnotationsValidator />
    <div>
        <label for="nombreUsuario">Nombre de Usuario:</label>
        <InputText id="nombreUsuario" @bind-Value="usuario.NombreUsuario" />
    </div>
    <div>
        <label for="contraseña">Contraseña:</label>
        <InputText id="contraseña" type="password" @bind-Value="usuario.Contraseña" />
    </div>
    <button type="submit">Iniciar Sesión</button>

    <label>@ContraseñaIncorrecta</label>
</EditForm>

<button @onclick="AbrirModal">Abrir Modal</button>


<div class="modal" style="display: @(mostrarModal ? "block" : "none")">
    <div class="modal-content">
        <span class="cerrar" @onclick="CerrarModal">&times;</span>
        <h3>Iniciar Sesión</h3>

        <div>
            <label for="nombreUsuario">Nombre de Usuario:</label>
            <input id="nombreUsuario" @bind="nombreUsuario" />
        </div>

        <div>
            <label for="contraseña">Contraseña:</label>
            <input type="password" id="contraseña" @bind="contraseña" />
        </div>

        <button @onclick="IniciarSesion">Iniciar Sesión</button>
    </div>
</div>

@code {
    string ContraseñaIncorrecta = "Ingrese Usuario y contraseña";
    private Usuario usuario = new Usuario();

    private async Task IniciarSesion()
    {
        if (ServicioAutenticacion.ValidarCredenciales(usuario.NombreUsuario, usuario.Contraseña))
        {
            // Redirigir o realizar otras acciones después de iniciar sesión correctamente
            // Puedes usar la navegación de Blazor para redirigir a otra página
            CerrarModal();
            NavigationManager.NavigateTo("/Practicas");
        }
        else
        {
            // Mostrar mensaje de error o realizar otras acciones en caso de credenciales incorrectas
            ContraseñaIncorrecta = "Usuario/contraseña INCORRECTA";
        }
    }
    // Método que se ejecutará cuando se haga clic en el botón
    //
   // Welcome to your new app.
   //<SurveyPrompt Title = "How is Blazor working for you?" />4

    private bool mostrarModal = false;
    private string nombreUsuario = "";
    private string contraseña = "";

    // Método para abrir el modal
    public void AbrirModal()
    {
        mostrarModal = true;
    }

    // Método para cerrar el modal
    public void CerrarModal()
    {
        mostrarModal = false;
    }

}
