@page "/Practicas"
<h3>Practicas</h3>

@code {

}

<div class="form-group">
    <label for="inputText">Texto:</label>
    <input type="text" id="inputText" @bind="Practica" />
</div>
<div class="form-group">
    <label for="inputText">Texto:</label>
    <input type="text" id="inputText" @bind="Id" />
</div>
<div class="form-group">
    <label for="inputText">Texto:</label>
    <input type="text" id="inputText" @bind="Precio" />

</div>

<button @onclick="Agregar">Mostrar Texto</button>

<p>Texto ingresado: @Practica</p>

@code {
    private int Id = 0;
    private string Practica = "";
    private string Precio = "";
    private void Agregar()
    {
        Console.WriteLine($"Texto ingresado: {Practica}");
    }
}