@page "/Practicas"
@using Dent.Models
<h3>Practicas</h3>

<div class="form-group">
    <label for="inputText">Practica:</label>
    <input type="text" id="inputText" @bind="Practica" />
</div>
<div class="form-group">
    <label for="inputText">Precio:</label>
    <input type="text" id="inputText" @bind="Precio" />


</div>

<button @onclick="Agregar">Agregar </button>

<label for="miString">Ultima Ingresada:</label>
<input id="miString" @bind="miString" />
<p> </p>
<h3>Tabla de Practicas</h3>
<br />
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Practica</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var practica in ListaDePracticas)
        {
            <tr>
                <td>@practica.Id</td>
                <td>@practica.Practica</td>
                <td>@practica.Precio</td>
                <td>
                    <button @onclick="() => EditarPractica(practica.Id)">Editar</button>
                    <button @onclick="() => EliminarPractica(practica.Id)">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {
    private List<Practica1> ListaDePracticas = new List<Practica1>();

    [Inject]
    private DbDentistaContext DbContext { get; set; }

    protected override void OnInitialized()
    {
        ListaDePracticas = DbContext.Practicas.ToList();
    }
    public string Practica = "";
    public int Precio = 0;
    public string miString = "";

    [Inject]
    private AgregarPracticas agregarPracticas { get; set; }

    private void EditarPractica(int practicaId)
    {
        using (DbDentistaContext db = new DbDentistaContext())
        {



            var practica = DbContext.Practicas.Find(practicaId);
            if (practica != null)
            {
                // Actualizar los campos necesarios
                if (Practica == "")
                { practica.Precio = Precio; }
                else
                {
                    practica.Practica = Practica;
                    practica.Precio = Precio;
                }
             
                
                db.SaveChanges();
            }
        }
        ActualizaTabla();
    }

    private void EliminarPractica(int practicaId)
    {


        var practica = DbContext.Practicas.Find(practicaId);
        if (practica != null)
        {
            using (DbDentistaContext db = new DbDentistaContext())
            {
                db.Practicas.Remove(practica);
                db.SaveChanges();
            }
            ActualizaTabla();
        }

    }
    private void Agregar()
    {
        var prueba = new Practica1();
        prueba.Practica = Practica;
        prueba.Precio = Precio;
        using (DbDentistaContext db = new DbDentistaContext())
        {
            db.Practicas.Add(prueba);
            db.SaveChanges();
        }
        // Al final del método donde realizas cambios y antes de volver a cargar los datos
        ActualizaTabla();
        miString = Practica;
        Practica = "";
        Precio = 0;

        //agregarPracticas.CargarPractica();
        Console.WriteLine($"Texto ingresado: {Practica} agregada");
    }
    private void ActualizaTabla()
    {
        ListaDePracticas = DbContext.Practicas.ToList();
        StateHasChanged();

    }
}