@page "/Practicas"
@using Dent.Models
<h3>Practicas</h3>

@code {

}

<div class="form-group">
    <label for="inputText">Practica:</label>
    <input type="text" id="inputText" @bind="Practica" />
</div>
<div class="form-group">
    <label for="inputText">Precio:</label>
    <input type="text" id="inputText" @bind="Precio" />


</div>

<button @onclick="Agregar">Agregar</button>

<p>Texto ingresado: @Practica</p>

@code {
    public string Practica = "";
    public int Precio = 0;


    [Inject]
    private AgregarPracticas agregarPracticas { get; set; }
  
    private void Agregar()
    {
        var prueba = new Practica();
        prueba.Practica1 = Practica;
        prueba.Precio = Precio;
        using (DbDentistaContext db = new DbDentistaContext())
        {
            db.Practicas.Add(prueba);
            db.SaveChanges();
        }
        //agregarPracticas.CargarPractica();
       //Console.WriteLine($"Texto ingresado: {Practica} agregada");
    }
}