@page "/Practicas"
@using Dent.Models
<h3>Practicas</h3>

@code {

}

<div class="form-group">
    <label for="inputText">Practica:</label>
    <input type="text" id="inputText" @bind="Practica" />
</div>
<div class="form-group">
    <label for="inputText">Precio:</label>
    <input type="text" id="inputText" @bind="Precio" />


</div>

<button @onclick="Agregar">Agregar</button>

<label for="miString">Ultima Ingresada:</label>
<input id="miString" @bind="miString" />


<h3>Tabla de Practicas</h3>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Practica</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var practica in ListaDePracticas)
        {
            <tr>
                <td>@practica.Id</td>
                <td>@practica.Practica</td>
                <td>@practica.Precio</td>
            </tr>
        }
    </tbody>
</table>


@code {
    private List<Practica1> ListaDePracticas = new List<Practica1>();

    [Inject]
    private DbDentistaContext DbContext { get; set; }

    protected override void OnInitialized()
    {
        ListaDePracticas = DbContext.Practicas.ToList();
    }
    public string Practica = "";
    public int Precio = 0;
    public string miString = "";

    [Inject]
    private AgregarPracticas agregarPracticas { get; set; }

    private void Agregar()
    {
        var prueba = new Practica1();
        prueba.Practica = Practica;
        prueba.Precio = Precio;
        using (DbDentistaContext db = new DbDentistaContext())
        {
            db.Practicas.Add(prueba);
            db.SaveChanges();
        }
        miString = Practica;
        Practica = "";
        Precio = 0;

        //agregarPracticas.CargarPractica();
       Console.WriteLine($"Texto ingresado: {Practica} agregada");
    }
}